<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>房地合一課徵所得稅制度 2.0 css table</title>
  <link rel="stylesheet" href="bootstrap-5.0.2/css/bootstrap.css">
    <script src="js/index.js"></script> 
    <script src="js/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>

<table style="width:100%;text-align:center; vertical-align:middle">
   <tr>
      <td style="vertical-align:middle">
        <img width='50' src='<%= File.join(member_house_now_base_url, member_image_url("obj_house_now_padding2")) %>'/>
      <td align="center" style='font-size:26.0pt;font-family:標楷體'>
        房地合一課徵所得稅制度 
      <td style="vertical-align:middle">
        <img width='50' src='<%= File.join(member_house_now_base_url, member_image_url("obj_house_now_padding2")) %>'/>
      </td> 
   </tr> 
</table>   

<p class=MsoNormal style='margin-left:-7.05pt;text-indent:-21.25pt;line-height:
18.0pt'><b>
  <span lang=EN-US style='font-family:標楷體;'>     </span></b><b>
  

<table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0 width=699
 style='width:490pt;margin-left:5.2pt;border-collapse:collapse;border:none'>
 <tr style='height:8.5pt'>
  <td width=183 colspan=4 style='width:137.4pt;border:solid windowtext 1.0pt; background:#F2F2F2;padding:3.6pt 7.2pt 3.6pt 7.2pt;height:8.5pt'>
    <p class=MsoNormal align=center style='text-align:center;line-height:17.2pt'>
    <span style='font-size:11.0pt;font-family:標楷體;'>項目</span>
    </p>   
  </td>
  <td width=516 style='width:387.1pt;border:solid windowtext 1.0pt;border-left: none;background:#F2F2F2;padding:3.6pt 7.2pt 3.6pt 7.2pt;height:8.5pt'>
    <p class=MsoNormal align=center style='text-align:center;line-height:17.2pt'>
    <span style='font-size:11.0pt;font-family:標楷體;'>內容</span>
    </p>
  </td>
 </tr>
 <tr style='height:54.8pt'>
  <td width=183 colspan=4 style='width:137.4pt;border:solid windowtext 1.0pt; border-top:none;padding:3.6pt 7.2pt 3.6pt 7.2pt;height:54.8pt'>
    <p class=MsoNormal align=center style='text-align:center;line-height:17.2pt'>
      <span style='font-size:11.0pt;font-family:標楷體;'>課稅範圍</span>
    </p>
  </td>
  <td width=516 style='width:387.1pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; padding:.75pt 9.0pt 0cm 9.0pt;height:54.8pt'>
    <p class=MsoNormal style='margin-left:12.1pt;text-indent:-12.1pt; line-height:110%'>
    <span style='font-size:11.0pt;font-family:標楷體;'>◎出售房屋、房屋及其坐落基地或依法得核發建造執照之土地。</span>
  </p>
    <p class=MsoNormal style='margin-left:12.1pt;text-indent:-12.1pt;line-height:17.2pt'>
    <span style='font-size:11.0pt;font-family:標楷體;'>◎<span lang=EN-US>105</span>年<span lang=EN-US>1</span>月<span lang=EN-US>1</span>日起交易下列房屋、土地者：</span><br />
      ●<span lang=EN-US style='font-size:11.0pt;font-family:標楷體;'>105年1月1日以後取得。</span><br />
      ●<span lang=EN-US style='font-size:11.0pt;font-family:標楷體;'>105年1月1日以後交易預售屋。</span>
    </p>
    <p class=MsoNormal style='margin-left:12.1pt;text-indent:-12.1pt;line-height:17.2pt'>
    <span style='font-size:11.0pt;font-family:標楷體;'>◎交易持股（或出資額）過半數營利事業的股份（或出資額），且該營利事業股權（或出資額）價值50%以上是由我國境內房地構成<br />
    </p>
  </td>
 </tr>
 <tr style='height:11.3pt'>
  <td width=183 colspan=4 style='width:137.4pt;border:solid windowtext 1.0pt; border-top:none;padding:3.6pt 7.2pt 3.6pt 7.2pt;height:11.3pt'>
    <p class=MsoNormal align=center style='text-align:center;line-height:17.2pt'>
    <span style='font-size:11.0pt;font-family:標楷體;'>課稅稅基</span>
    </p>
  </td>
  <td width=516 style='width:387.1pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; padding:.75pt 9.0pt 0cm 9.0pt;height:11.3pt'>
    <p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph;
  line-height:17.2pt'>
  <span style='font-size:11.0pt;font-family:標楷體;'>房地收入－成本－費用註1－依土地稅法計算之土地漲價總數額</span>
    </p>
  </td>
 </tr>

 <tr>
  <td width=33 rowspan=6 style='width:24.4pt;border:solid windowtext 1.0pt; border-top:none;padding:3.6pt 7.2pt 3.6pt 7.2pt;height:28.65pt'>
    <p class=MsoNormal align=center style='text-align:center;line-height:17.2pt'>
    <span style='font-size:11.0pt;font-family:標楷體;'>課稅稅率</span>
    </p>
  </td> 
  <td width=151 colspan="2" rowspan="2" style='width:113.0pt;border-top:none;border-left: none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; padding:3.0pt 7.2pt 3.6pt 7.2pt;height:25.65pt'>
    <span style='font-size:11.0pt;font-family:標楷體;'>個人<sup><span lang=EN-US></span></sup></span>
  </td>
  <td width=151 colspan=1 style='width:113.0pt;border-top:none;border-left: none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; padding:3.0pt 7.2pt 3.6pt 7.2pt;height:25.65pt'>
    <p class=MsoNormal align=center style='text-align:center;line-height:17.2pt'>
    <span style='font-size:11.0pt;font-family:標楷體;'>境內居住者<sup>註<span lang=EN-US>1</span></sup></span>
    </p>
  </td>
  <td width=516 style='width:387.1pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; padding:.75pt 9.0pt 0cm 9.0pt;height:25.65pt'>
    <p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph;
  line-height:17.2pt'>
  <span style='font-size:11.0pt;font-family:標楷體;'>
    持有<span lang=EN-US>2</span>年以內：<span lang=EN-US>45%</span>、持有持有超過<span lang=EN-US>2</span>年未逾<span lang=EN-US>5</span>年：<span lang=EN-US>35%</span>、持有持有超過<span lang=EN-US>5</span>年未逾<span lang=EN-US>10</span>年<span lang=EN-US></span>：<span lang=EN-US>20%</span>、持有超過<span lang=EN-US>10</span>年：<span lang=EN-US>15%</span></span>
    </p>
  </td>

 </tr>

 <tr style='height:34.0pt'>
  <td width=151 colspan=1 style='width:113.0pt;border-top:none;border-left: none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; padding:3.6pt 7.2pt 3.6pt 7.2pt;height:34.0pt'>
    <p class=MsoNormal align=center style='text-align:center;line-height:17.2pt'>
    <span style='font-size:11.0pt;font-family:標楷體;'>非境內</span>
  </p>
    <p class=MsoNormal align=center style='text-align:center;line-height:17.2pt'>
    <span style='font-size:11.0pt;font-family:標楷體;'>居住者<sup>註<span lang=EN-US>2</span></sup></span>
    </p>
  </td>
  <td width=516 style='width:387.1pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; padding:.75pt 9.0pt 0cm 9.0pt;height:34.0pt'>
    <p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph;
  line-height:17.2pt'>
  <span lang=EN-US style='font-size:11.0pt;font-family: 標楷體;'>1.</span>
  <span style='font-size:11.0pt;font-family:標楷體;
  '>持有<span lang=EN-US>2</span>年以內：<span lang=EN-US>45%  </span></span>
  </p>
    <p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph;
  line-height:17.2pt'>
  <span lang=EN-US style='font-size:11.0pt;font-family: 標楷體;'>2.</span>
  <span style='font-size:11.0pt;font-family:標楷體;
  '>持有超過<span lang=EN-US>2</span>年：<span lang=EN-US>35%</span></span>
    </p>
  </td>
 </tr>

 <tr>
   <td width=151 colspan="2" rowspan="2" style='width:113.0pt;border-top:none;border-left: none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; padding:3.0pt 7.2pt 3.6pt 7.2pt;height:25.65pt'>
    <span style='font-size:11.0pt;font-family:標楷體;'>法人<sup><span lang=EN-US></span></sup></span>
  </td>
 </tr>
 <tr style='height:34.0pt'>
  <td width=151 colspan=1 style='width:113.0pt;border-top:none;border-left: none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; padding:3.6pt 7.2pt 3.6pt 7.2pt;height:34.0pt'>
    <p class=MsoNormal align=center style='text-align:center;line-height:17.2pt'>
    <span style='font-size:11.0pt;font-family:標楷體;'>比  照<br>個人課稅</span>
    </p>
  </td>
  <td width=516 style='width:387.1pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; padding:.75pt 9.0pt 0cm 9.0pt;height:34.0pt'>
    <p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph;
  line-height:17.2pt'>
      <span lang=EN-US style='font-size:11.0pt;font-family: 標楷體;'>1.</span>
      <span style='font-size:11.0pt;font-family:標楷體;'>營利事業依持有期間按差別稅率分開計稅 (45%、35%)</span>
    </p>
    <p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph;line-height:17.2pt'>
      <span lang=EN-US style='font-size:11.0pt;font-family: 標楷體;'>2.</span>
      <span style='font-size:11.0pt;font-family:標楷體;'>持有超過
        <span lang=EN-US>防止個人藉設立營利事業短期交易來避稅</span>
    </p>
  </td>
 </tr>

 <tr style='height:90.2pt'>
  <td width=109 colspan=2 rowspan=2 style='width:81.95pt;border-top:none; border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; padding:3.6pt 7.2pt 3.6pt 7.2pt;height:90.2pt'>
    <p class=MsoNormal align=center style='text-align:center;line-height:17.2pt'>
    <span style='font-size:11.0pt;font-family:標楷體;'>境內居住者</span>
  </p>
    <p class=MsoNormal align=center style='text-align:center;line-height:17.2pt'>
    <span style='font-size:11.0pt;font-family:標楷體;'>自住房地</span>
    </p>
  </td>
  <td width=41 style='width:31.05pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; padding:3.6pt 7.2pt 3.6pt 7.2pt;height:90.2pt'>
    <p class=MsoNormal align=center style='text-align:center;line-height:17.2pt'>
    <span style='font-size:11.0pt;font-family:標楷體;'>五種交易<br>不受影響
</span>
    </p>
  </td>
  <td width=516 style='width:387.1pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; padding:.75pt 9.0pt 0cm 9.0pt;height:90.2pt'>
    <p class=MsoNormal style='margin-left:11.55pt;text-align:justify;text-justify:
  inter-ideograph;text-indent:-11.55pt;line-height:17.2pt'>
  <span lang=EN-US style='font-size:11.0pt;font-family:標楷體;'>1.</span>
  <span style='font-size:11.0pt;font-family:標楷體;'>
    維持稅率<span lang=EN-US>20%</span>
    </p>
    ◎個人及營利事業非自願因素（如調職、房地遭強制執行）交易<br>
    ◎個人及營利事業以自有土地與建商合建分回房地交易<br>
    ◎個人及營利事業參與都更或危老重建取得房地後第一次移轉<br>
    ◎營利事業興建房屋完成後第一次移轉<br>
    </span>
  </p>
    <p class=MsoNormal style='margin-left:9.2pt;text-align:justify;text-justify:
  inter-ideograph;text-indent:-11.1pt;line-height:17.2pt'>
    <br>
  <span lang=EN-US style='font-size:11.0pt;font-family:標楷體;'>2.</span>
  <span style='font-size:11.0pt;font-family:標楷體;'>
    維持稅率<span lang=EN-US>10%</span>
    </p>
    ◎自住房地持有（個人或其配偶、未成年子女設有戶籍）並實際居住連續6年且無供營業或出租使用<br>
    ◎按前開課稅稅基（即課稅所得）計算在4佰萬元以下免稅<br>
  </span>
  </td>
 </tr>
 <tr style='height:46.7pt'>
  <td width=41 style='width:31.05pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; padding:3.6pt 7.2pt 3.6pt 7.2pt;height:46.7pt'>
    <p class=MsoNormal align=center style='text-align:center;line-height:12.0pt'>
    <span style='font-size:11.0pt;font-family:標楷體;'>重購</span>
  </p>
    <p class=MsoNormal align=center style='text-align:center;line-height:12.0pt'>
    <span style='font-size:11.0pt;font-family:標楷體;'>退稅</span>
    </p>
  </td>
  <td width=516 style='width:387.1pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; padding:3.6pt 7.2pt 3.6pt 7.2pt;height:46.7pt'>
    <p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph;
  line-height:17.2pt'>
  <span lang=EN-US style='font-size:11.0pt;font-family: 標楷體;'>‧</span>
  <span style='font-size:11.0pt;font-family:標楷體;
  '>換大屋：全額退稅<span lang=EN-US>(</span>與現制同<span lang=EN-US>)</span></span>
  </p>
    <p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph;
  line-height:17.2pt'>
  <span lang=EN-US style='font-size:11.0pt;font-family: 標楷體;'>‧</span>
  <span style='font-size:11.0pt;font-family:標楷體;
  '>換小屋：比例退稅</span>
  </p>
    <p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph;
  line-height:17.2pt'>
  <span lang=EN-US style='font-size:11.0pt;font-family: 標楷體;'>‧</span>
  <span style='font-size:11.0pt;font-family:標楷體;
  '>重購後<span lang=EN-US>5</span>年內不得改作其他用途或再行移轉</span>
    </p>
  </td>
 </tr>
 
 <tr style='height:17.85pt'>
  <td width=183 colspan=4 style='width:137.4pt;border:solid windowtext 1.0pt; border-top:none;padding:0cm 0cm 0cm 0cm;height:17.85pt'>
    <p class=MsoNormal align=center style='text-align:center;line-height:17.2pt'>
    <span style='font-size:11.0pt;font-family:標楷體;'>申 報 期 限 及方 式</span>
    </p>
  </td>
  <td width=516 style='width:387.1pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; padding:3.6pt 7.2pt 3.6pt 7.2pt;height:17.85pt'>
    <p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph;
  line-height:17.2pt'>
  <span style='font-size:11.0pt;font-family:標楷體;'>
    個人部分 - 所有權完成移轉登記（交易日）之次日起算30  天內申報營利事業部分 -  於年度所得稅結算申報時分開計算稅額合併報繳</span>
    </p>
  </td>
 </tr> 
 <tr style='height:17.85pt'>
  <td width=183 colspan=4 style='width:137.4pt;border:solid windowtext 1.0pt; border-top:none;padding:0cm 0cm 0cm 0cm;height:17.85pt'>
    <p class=MsoNormal align=center style='text-align:center;line-height:17.2pt'>
    <span style='font-size:11.0pt;font-family:標楷體;'>註1</span>
    </p>
  </td>
  <td width=516 style='width:387.1pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; padding:3.6pt 7.2pt 3.6pt 7.2pt;height:17.85pt'>
    <p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph;
  line-height:17.2pt'>
  <span style='font-size:11.0pt;font-family:標楷體;'>
    個人部分 - 所有權完成移轉登記（交易日）之次日起算30  天內申報營利事業部分 -  於年度所得稅結算申報時分開計算稅額合併報繳</span>
    </p>
  </td>
 </tr> 
</table>
 
<p style=" margin:2px;"><b>
  <span style='font-size:9.0pt;font-family:標楷體;'>註1 費用：</span><br/>
  <span style='font-size:9.0pt;font-family:標楷體;'>      (1)
  按提示證明文件核實扣除</span><br/>
  <span style='font-size:9.0pt;font-family:標楷體;'>      (2)按成交價額3%（最高30萬；未提示費用證明文件或所提示費用證明文件的金額未達成交價額3%者）。</span><br/>
  <span style='font-size:9.0pt;font-family:標楷體;'>註2 境內居住者係指符合下列條件之ㄧ者：</span><br/>
  <span style='font-size:9.0pt;font-family:標楷體;'>      (1)
  在中華民國境內有住所，並經常居住中華民國境內者。</span><br/>
  <span style='font-size:9.0pt;font-family:標楷體;'>      (2)在中華民國境內無住所，而於一課稅年度內在中華民國境內居留合計滿183天者。</span><br/>
  <b>
  <span style='font-size:9.0pt;font-family:標楷體;'>註3 非境內居住者係指上述規定以外之個人。</span><br/>
</p> 
</div>

</body>
</html>